<!--User Profile Body-->
<div class='container'>
  <div class="row">
    
    <!--Profile Avatar-->
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %><br/>
      <% if user_signed_in? %>
        <% if current_user.id==@user.id %>
          <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class:'profile-edit-btn btn btn-primary btn-md btn-block' %>
          <% end %>
        <% end %>
    </div>
    
    <!--Profile Attributes-->
    <div class="col-md-6">
      <!--Name-->
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <!--Job title-->
      <h4><span class="job-title-icon"><%= job_title_icon %></span><%= " " + @user.profile.job_title %></h4>
      <!--description-->
      <div class="well profile-block profile-description">
        <h3>Description</h3>
        <h5><%= @user.profile.description %></h5>
      </div>
      <!--contact-info-->
      <div class="well profile-block profile-contact-info">
        <h3>Contact Information</h3>
        <h5><%= @user.profile.phone_number %></h5>
        <h5><%= @user.profile.contact_email %></h5>
      </div>
    </div>
    
  </div>
</div>